body {
    background-color: #ffe4f8;
    max-width: 70vw;
    position: relative;
    left: 15vw;
}

#bg-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-element {
    display: flex;
    flex-direction: column;
    width: 60vw;
    background-color: white;
    border: 2px solid black;
    border-radius: 7px 7px 0px 0px;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px black;
    margin: 10vh 0 0 0;
}

#title {
    margin-bottom: 0px;
    margin-top: 0px;
}

#context {
    margin-top: 0px;
    margin-bottom: 0px;
}

#roundname {
    display: flex;
    width: 60vw;
    height: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50pt;
    font-weight: bold;
    background-color: white;
    border: 2px solid black;
    border-radius: 0px 0px 7px 7px;
    margin-top: 0px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px black;
}

#context {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

#output {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
}

button { 
    width: 200px;
    height: 80px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 0px 0px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25pt;
    transform: translateY(0);
}

button:hover {
    background-color: #efbadd;
}

button:active {
    background-color: hotpink;
    transform: translateY(10px) translateX(10px);
    box-shadow: inset 5px 5px 5px black;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 42pt;
}

#gameresult {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 0px 0px 0px;
    align-items: center;
}

#gamestring {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
}

#yourgamestring {
    height: 50px;
    margin: 20px 0px 0px 0px;
}

#computergamestring {
    height: 50px;
    margin: 0px;
}

#roundresult {
    height: 50px;
    margin: 0px;
    font-size: 25pt;
}

#scoreboard {
    display: flex;
    align-items: center;
    height: 15vh;
    width: 60vw;
    justify-content: space-between;
}

#yourscore {
    width: 20vw;
    height: 90px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25pt;
    text-align: center;
}

#computerscore {
    width: 20vw;
    height: 90px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    text-align: center;
    word-wrap: break-word;
}

#vs {
    font-size: 80pt;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 9999;
    border: 2px solid black;
    border-radius: 2px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.popup-content.active {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40pt;
    font-weight: bold;
    text-align: center;
    justify-content: center;
  }
  
  .popup-content:not(.active) {
    display: none;
  }

  .restart {
    display: block;
    align-self: center;
    justify-content: center;
  }